.description {
  /* font-family: Rubik;
  font-size: 1.7rem; */
}

.projectImage {
  cursor: pointer;
  margin: 5px;
  max-width: 140px;
  max-height: 160px;
  align-self: center;
  object-fit: contain;
  border-radius: 6px;
}

.url {
  color: #ddd;
  text-decoration: none;
}

.imageContainer {
  justify-content: space-evenly;
  align-items: center;
  margin-top: 8px;
}
